<p id="notice"><%= notice %></p>

<p>
  <strong>Match starts at:</strong>
  <%= @moto2.match_starts_at %>
</p>

<p>
  <strong>Team 1:</strong>
  <%= @moto2.team_1 %>
</p>

<p>
  <strong>Team 2:</strong>
  <%= @moto2.team_2 %>
</p>

<p>
  <strong>League:</strong>
  <%= @moto2.league %>
</p>

<p>
  <strong>Odds:</strong>
  <%= @moto2.odds %>
</p>

<p>
  <strong>Chance:</strong>
  <%= @moto2.chance %>
</p>

<p>
  <strong>Pick:</strong>
  <%= @moto2.pick %>
</p>

<p>
  <strong>Status:</strong>
  <%= @moto2.status %>
</p>

<p>
  <strong>Main page:</strong>
  <%= @moto2.main_page %>
</p>

<%= link_to 'Edit', edit_moto2_path(@moto2) %> |
<%= link_to 'Back', moto2s_path %>
