<section id='header'>
  <h1>Today's best picks => All disciplines</h1>
</section>

<aside id='info1' class='info'>
  Today's most recommended plays chosen by us, from all disciplines
</aside>

<section id='results'>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Rider one</th>
        <th>Rider two</th>
        <th>League</th>
        <th>Odds</th>
        <th>% chance</th>
        <th>Pick</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <% @main_page_bets.each do |main_page_bet| %>
        <tr>
          <td>
            <% if main_page_bet.match_starts_at.today? %>
              <%= main_page_bet.match_starts_at.strftime("%H:%M %Z") %>
            <% else %>
              <%= main_page_bet.match_starts_at.strftime("%-d/%m/%y") %>
            <% end %>
          </td>
          <td><%= main_page_bet.team_1 %></td>
          <td><%= main_page_bet.team_2 %></td>
          <td><%= main_page_bet.league %></td>
          <td><%= main_page_bet.odds %></td>
          <td><%= main_page_bet.chance %>%</td>
          <td><%= main_page_bet.pick %></td>
          <% case main_page_bet.status %>
          <% when 0 %>
          <%= '<td class="undefined">AWAITING</td>'.html_safe %>
          <% when 1 %>
          <%= '<td class="won">WON</td>'.html_safe %>
          <% when 2 %>
          <%= '<td class="lost">LOST</td>'.html_safe %>
          <% when 3 %>
          <%= '<td class="undefined">REFUND</td>'.html_safe %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= paginate(@main_page_bets) %>
</section>