<%= form_with(model: esport, local: true) do |form| %>
  <% if esport.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(esport.errors.count, "error") %> prohibited this esport from being saved:</h2>

      <ul>
      <% esport.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :match_starts_at %>
    <%= form.datetime_select :match_starts_at, id: :esport_match_starts_at %>
  </div>

  <div class="field">
    <%= form.label :team_1 %>
    <%= form.text_field :team_1, id: :esport_team_1 %>
  </div>

  <div class="field">
    <%= form.label :team_2 %>
    <%= form.text_field :team_2, id: :esport_team_2 %>
  </div>

  <div class="field">
    <%= form.label :league %>
    <%= form.text_field :league, id: :esport_league %>
  </div>

  <div class="field">
    <%= form.label :odds %>
    <%= form.text_field :odds, id: :esport_odds %>
  </div>

  <div class="field">
    <%= form.label :chance %>
    <%= form.number_field :chance, id: :esport_chance %>
  </div>

  <div class="field">
    <%= form.label :pick %>
    <%= form.text_field :pick, id: :esport_pick %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status, id: :esport_status %>
  </div>

  <div class="field">
    <%= form.label :main_page %>
    <%= form.text_field :main_page, id: :esport_main_page %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
