<p id="notice"><%= notice %></p>

<h1 class='admin_mode'>edit_mode: on</h1>

<section id='results' class='wider'>
  <table>
    <thead>
      <tr>
        <th>Match starts at</th>
        <th>Team one</th>
        <th>Team two</th>
        <th>League</th>
        <th>Odds</th>
        <th>Chance</th>
        <th>Pick</th>
        <th>Status</th>
        <th>Main page</th>
        <th>Show</th>
        <th>Edit</th>
        <th>Destroy</th>
      </tr>
    </thead>

    <tbody>
      <% @esports.each do |esport| %>
        <tr>
          <td><%= esport.match_starts_at %></td>
          <td><%= esport.team_1 %></td>
          <td><%= esport.team_2 %></td>
          <td><%= esport.league %></td>
          <td><%= esport.odds %></td>
          <td><%= esport.chance %>%</td>
          <td><%= esport.pick %></td>
          <% case esport.status %>
          <% when 0 %>
          <%= '<td class="undefined">AWAITING</td>'.html_safe %>
          <% when 1 %>
          <%= '<td class="won">WON</td>'.html_safe %>
          <% when 2 %>
          <%= '<td class="lost">LOST</td>'.html_safe %>
          <% when 3 %>
          <%= '<td class="undefined">REFUND</td>'.html_safe %>
          <% end %>
          <td><%= esport.main_page %></td>
          <td><%= link_to 'Show', esport %></td>
          <td><%= link_to 'Edit', edit_esport_path(esport) %></td>
          <td><%= button_to 'Destroy', esport, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to 'Add record', new_esport_path %>
</section>