<p id="notice"><%= notice %></p>

<p>
  <strong>Match starts at:</strong>
  <%= @motogp.match_starts_at %>
</p>

<p>
  <strong>Team 1:</strong>
  <%= @motogp.team_1 %>
</p>

<p>
  <strong>Team 2:</strong>
  <%= @motogp.team_2 %>
</p>

<p>
  <strong>League:</strong>
  <%= @motogp.league %>
</p>

<p>
  <strong>Odds:</strong>
  <%= @motogp.odds %>
</p>

<p>
  <strong>Chance:</strong>
  <%= @motogp.chance %>
</p>

<p>
  <strong>Pick:</strong>
  <%= @motogp.pick %>
</p>

<p>
  <strong>Status:</strong>
  <%= @motogp.status %>
</p>

<p>
  <strong>Main page:</strong>
  <%= @motogp.main_page %>
</p>

<%= link_to 'Edit', edit_motogp_path(@motogp) %> |
<%= link_to 'Back', motogps_path %>
