<div id='nav_wrapper' class='admin_mode'>
  <nav>
    <ul>
      <%= link_to '<li></li>'.html_safe %>
      <%= link_to '<li>Edit Esport</li>'.html_safe, controller: :esports, action: :index  %>
      <%= link_to '<li>Edit Moto GP</li>'.html_safe, controller: :motogps, action: :index  %>
      <%= link_to '<li>Edit Moto 2</li>'.html_safe, controller: :moto2s, action: :index  %>
      <%= link_to '<li>Edit Moto 3</li>'.html_safe, controller: :moto3s, action: :index  %>
      <%= link_to '<li>Edit Formula 1</li>'.html_safe, controller: :formula1s, action: :index %>
    </ul>
  </nav>
</div>