<div id='nav_wrapper' class='admin_mode'>
  <nav>
    <ul>
      <%= link_to '<li class="active">Home</li>'.html_safe %>
      <%= link_to '<li>Edit Football</li>'.html_safe %>
      <%= link_to '<li>Edit Esport</li>'.html_safe %>
      <%= link_to '<li>Edit Moto GP</li>'.html_safe %>
      <%= link_to '<li>Edit Moto 2</li>'.html_safe %>
      <%= link_to '<li>Edit Moto 3</li>'.html_safe %>
      <%= link_to '<li>Edit Formula 1</li>'.html_safe, controller: :formula1s, action: :index %>
    </ul>
  </nav>
</div>