<!DOCTYPE html>
<html>
  <head>
    <title>Motobet - your betting advisor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'content', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>
    <div class='page_wrapper'>
      <div id='top_panel_wrapper'>
        <div id='top_panel'>
          <%= image_tag 'logo.png', alt: 'Motobet logo', id: 'logo' %>
          <aside id='additional'>
            <div>
              <div class='marked'>Contact us</div>
              <div class='description'>contact@motobet.pl</div>
            </div>
            <div>
              <div class='marked'><%= link_to 'Who are we', about_us_url %></div>
            </div>
            <div>
              <div class='marked'><%= link_to 'How does it work', about_our_work_url %></div>
            </div>
          </aside>
        </div>
      </div>
      <div id='nav_wrapper'>
        <nav>
          <ul>
            <%= link_to '<li>Home</li>'.html_safe, root_url  %>
            <%= link_to '<li>Esport</li>'.html_safe, _esport_url  %>
            <%= link_to '<li>Moto GP</li>'.html_safe, _motogp_url  %>
            <%= link_to '<li>Moto 2</li>'.html_safe, _moto2_url %>
            <%= link_to '<li>Moto 3</li>'.html_safe, _moto3_url %>
            <%= link_to '<li>Formula 1</li>'.html_safe, _formula1_url %>
          </ul>
        </nav>
      </div>

      <aside id='landscape_image'>
        <div class='purple_dim'></div>
        <div class='dots_pattern'></div>
        <div class='flex_wrapper'>
          <h1>Best betting tips for today from <span class='accent'>motobet</span> TEAM</h1>
        </div>
      </aside>

      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>


      <main>
        <%= yield %>
      </main>

      <aside id="index">
        <div class='flexbox'>
          <div>
            <ul>
              <li>Contact us <br> <span class='white'>contact@motobet.com</span></li>
              <li><%= link_to 'Who are we', about_us_url %></li>
              <li><%= link_to 'How it all works', about_our_work_url %></li>
            </ul>
          </div>
          <div>
            <ul>
              <li class='white'>Currently we offer:</li>
            <%= link_to '<li>Esport</li>'.html_safe, _esport_url %>
            <%= link_to '<li>Moto GP</li>'.html_safe, _motogp_url %>
            <%= link_to '<li>Moto 2</li>'.html_safe, _moto2_url %>
            <%= link_to '<li>Moto 3</li>'.html_safe, _moto3_url %>
            <%= link_to '<li>Formula 1</li>'.html_safe, _formula1_url %>
            </ul>
          </div>
        </div>
        <div class='description'>
          <strong>Motobet</strong> - the only website you will ever need to make <strong>profitable motorsport bets</strong>. At <strong>motobet</strong> you will find the <strong>best predictions</strong> when it comes to <strong>Moto GP</strong>, <strong>Moto 2</strong>, <strong>Moto 3</strong>, <strong>Formula 1</strong>, <strong>Football</strong> and <strong>eSports</strong>. Did we mention it's <strong>free</strong>? Feel free to drop an email should you have any questions.
        </div>
      </aside>

      <footer>
        <span>&copy; all rights reserved / <a href='http://www.freepik.com' target="_blank">logo design - timmdesign</a></span>
      </footer>
    </div>
    <%= render 'admin_nav' if user_signed_in? %>
  </body>
</html>