<!DOCTYPE html>
<html>
  <head>
    <title>Motobet - your betting advisor</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'content', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "jquery" %>
    <%= javascript_include_tag "jquery_ujs" %>
  </head>

  <body>
    <%= render 'admin_nav' %>
    <div class='page_wrapper'>
      <div id='top_panel_wrapper'>
        <div id='top_panel'>
          <%= image_tag 'logo.png', alt: 'Motobet logo', id: 'logo' %>
          <aside id='additional'>
            <div>
              <div class='marked'>Contact us</div>
              <div class='description'>contact@motobet.pl</div>
            </div>
            <div>
              <div class='marked'><%= link_to 'Who are we',
                controller: :application, action: :about_us %></div>
            </div>
            <div>
              <div class='marked'><%= link_to 'How does it work',
                controller: :application, action: :about_our_work %></div>
            </div>
          </aside>
        </div>
      </div>
      <div id='nav_wrapper'>
        <nav>
          <ul>
            <%= link_to '<li>Home</li>'.html_safe, controller: :home, action: :index %>
            <%= link_to '<li>Esport</li>'.html_safe, controller: :esport, action: :index %>
            <%= link_to '<li>Moto GP</li>'.html_safe, controller: :motogp, action: :index %>
            <%= link_to '<li>Moto 2</li>'.html_safe, controller: :moto2, action: :index %>
            <%= link_to '<li>Moto 3</li>'.html_safe, controller: :moto3, action: :index %>
            <%= link_to '<li>Formula 1</li>'.html_safe, controller: :formula1, action: :index %>
          </ul>
        </nav>
      </div>

      <aside id='landscape_image'>
        <div class='purple_dim'></div>
        <div class='dots_pattern'></div>
        <div class='flex_wrapper'>
          <h1>Best betting tips for today from <span class='accent'>motobet</span> TEAM</h1>
        </div>
      </aside>

      <main>
        <%= yield %>
      </main>

      <aside id="index">
        <div class='flexbox'>
          <div>
            <ul>
              <li>Contact us <br> <span class='white'>contact@motobet.com</span></li>
              <li>Check who we are</li>
              <li>Check how does it work</li>
            </ul>
          </div>
          <div>
            <ul>
              <li class='white'>Currently we offer:</li>
              <%= link_to '<li>Esport</li>'.html_safe %>
              <%= link_to '<li>Moto GP</li>'.html_safe %>
              <%= link_to '<li>Moto 2</li>'.html_safe %>
              <%= link_to '<li>Moto 3</li>'.html_safe %>
              <%= link_to '<li>Formula 1</li>'.html_safe, controller: :formula1, action: :index %>
            </ul>
          </div>
        </div>
        <div class='description'>
          <strong>Motobet</strong> - the only website you will ever need to make profitable bets. At <strong>motobet</strong> you will find the <strong>best predictions</strong> when it comes to <strong>Moto GP</strong>, <strong>Moto 2</strong>, <strong>Moto 3</strong>, <strong>Formula 1</strong>, <strong>Football</strong> and <strong>eSports</strong>. Did we mention it's <strong>free</strong>? Feel free to drop an email should you have any questions.
        </div>
      </aside>

      <footer>
        <span>&copy; all rights reserved / <a href='http://www.freepik.com' target="_blank">logo design - timmdesign</a></span>
      </footer>
    </div>
  </body>
</html>